body {
  background: #FFF;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-color: rgba(0, 0, 0, 0.80);
}

.logo {
  position: relative;
  margin-left: 31%;
  margin-top: 16%;
}

/* Search Bar Section */

.search-bar {
  width: 500px;
  height: 30px;
  margin-top: 2%;
  margin-left: 31%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#button {
  height: 40px;
  width: 150px;
  border-radius: 5px 5px 5px 5px;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.search-button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  margin-left: 38%;
  margin-top: 2%;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}

.search-button:hover {
  text-decoration-style: solid;
  background-color: lightgrey;
  border: 1px solid;
}

.im-feeling-lucky {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  position: relative;
}

.im-feeling-lucky:hover {
  text-decoration-style: solid;
  background-color: lightgrey;
  border: 1px solid;
}

/* Header Section*/

.header {
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: 200;
}

.top-nav-left, .top-nav-right, .bottom-nav-left, .bottom-nav-right {
  width: auto;
  height: 20px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
}

.top-nav-left {
  margin: 10px;
  margin-top: 28px;
  float: left;
}

.About {
  margin-left: 26px;
}

.top-nav-right {
  margin: 10px;
  margin-top: 28px;
  float: right;
}

.Images {
}

.Sign-In {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  min-width: 20px;
  padding: 0 7px;
  text-align: center;
  position: relative;
}

.Sign-In:hover {
  text-decoration: underline;
  background-color: lightgrey;
  border: 1px solid;
}

/* Footer Section */

.footer {
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: 200;
}

.bottom-nav-left {
  margin: 15px;
  margin-top: 310px;
}

.Advertising {
  padding-left: 17px;
}

.bottom-nav-right {
  margin: 15px;
  margin-top: 310px;
  float: right;
}

.Settings {
  padding-right: 16px;
}
